<div class="row">
    <div class="col-md-6">
        <button  type="button" class="btn btn-dark" (click)="export()" style="margin-right: 5px">Download Excel</button>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <input type="file" (change)="onChange($event)" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" #inputFile>
            <button class="btn btn-outline-secondary" (click)="removeFile()" type="button" id="inputGroupFileAddon04">Remove</button>
        </div>        
    </div>
</div>
